.mainsection {
  display: flex;
  flex-direction: column;

  padding: 32px;
  gap: 32px;
}

.first_section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 24px;
}
.first_section :first-child {
  color: var(--Black-12, #1a181e);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 140% */
}
.first_section div {
  border-radius: 4px;
  border: 1px solid var(--Black-85, #d9d9d9);
  background: var(--Black-100, #fff);
  display: flex;
  flex-direction: row;
  padding: 6px 14px;
  gap: 8px;
}

.first_section :last-child p {
  color: var(--Black-30, #4d4d4d);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.second_section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.overview_card {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex: 1 0 0;
  border-radius: var(--Spacing-spacing-04, 8px);
  background: var(--Black-100, #fff);
  box-shadow: 0px 2px 6px 0px rgba(26, 24, 30, 0.04);
}
.overview_card p:first-child {
  color: var(--Black-30, #4d4d4d);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.overview_card p:last-child {
  color: var(--Black-12, #1a181e);
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 38px; /* 118.75% */
}

.transactions p {
  color: var(--Black-12, #1a181e);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 140% */
}

