.table_section {
  display: flex;
  padding: 12px 12px 24px 12px;
  flex-direction: column;
  border-radius: var(--Spacing-spacing-04, 8px);
  background: var(--Black-100, #fff);
  box-shadow: 0px 2px 6px 0px rgba(26, 24, 30, 0.04);
  margin-top: 20px;
}

.first_table_section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search {
  display: flex;
  width: 248px;
  padding: 10px 16px;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  border: 1px solid var(--Black-85, #d9d9d9);
  background: var(--Black-100, #fff);
}
.search input {
  border: none;
}
.search input::placeholder {
  border: none;
  color: var(--Black-60, #999);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

.table_action {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.table_actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid var(--Black-85, #d9d9d9);
  background: var(--Black-100, #fff);
  display: flex;
  padding: 6px 12px;
  align-items: center;
  gap: 6px;
}

.table {
  margin-top: 12px;
  border-collapse: collapse;
}

.table tr:first-child {
  border-radius: 4px;
  background: var(--Black-95, #f2f2f2);
}
.table tr {
  border-radius: 4px;
  text-align: left;
}
.table tr {
  border-radius: 4px;
  text-align: left;
  border-bottom: 1px solid #e6e6e6;
}
.table tr th {
  padding: 10px 12px;
  color: var(--Black-30, #4d4d4d);
  /* Body 2/Medium */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}

.table tr th:nth-child(2) {
  text-align: left;
}
.table tr th:nth-child(3) {
  text-align: right;
}
.table tr th:nth-child(4) {
  text-align: right;
}

.table tr td {
  padding: 14px 12px;
}
.table tr td:nth-child(1) {
  color: var(--Primary-Blue, #146eb4);
  /* Body 2/Medium */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}
.table tr td:nth-child(2) {
  text-align: left;
  color: var(--Black-12, #1a181e);

  /* Body 2/Regular */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}
.table tr td:nth-child(3) {
  text-align: right;
  color: var(--Black-12, #1a181e);
  text-align: right;

  /* Body 2/Regular */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}
.table tr td:nth-child(4) {
  text-align: right;
  color: var(--Black-12, #1a181e);
  text-align: right;

  /* Body 2/Regular */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

.pagenation {
  display: flex;
  flex-direction: row;
  align-self: center;
  margin-top: 24px;
  display: flex;
  align-items: center;
  gap: 24px;
}

.pre_next {
  display: flex;
  flex-direction: row;
  padding: 6px 12px 6px 6px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-radius: 4px;
  border: 1px solid var(--Black-85, #d9d9d9);
  background: var(--Black-100, #fff);
}
.pre_next p {
  color: var(--Black-30, #4d4d4d);
  text-align: center;

  /* Body 2/Medium */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}

.pagenumbers {
  display: flex;
  flex-direction: row;
}
.pagenumbers div {
  display: flex;
  width: 28px;
  height: 28px;
  padding: 2px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.pagenumbers p {
  color: var(--Black-30, #4d4d4d);
  text-align: center;

  /* Body 2/Regular */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}
.pagenumbers div:nth-child(3) {
  border-radius: 4px;
  background: var(--Primary-Blue, #146eb4);
}
.pagenumbers div:nth-child(3) p {
  color: var(--Black-100, #fff);
  text-align: center;

  /* Body 2/Medium */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}
